search:
    front:
        in: %appDir%/Module/Front
        classes:
            - *Factory

services:
    security.passwords: Nette\Security\Passwords(::PASSWORD_ARGON2ID)
    router: Screfy\Router\RouterFactory::create