<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="screfy (https://screfy.com)">
        <meta name="keywords" content="screfy, php, nette, latte, tracy, composer, open-source">
        <meta name="description" content="{ifset description}{include description}{else}Web Skeleton{/ifset}">
        <title>{ifset title}{include title|stripHtml} | {/ifset}Web Skeleton</title>
    </head>
    <body>
        {include content}
    </body>
</html>